.article {
  font-family: 'Space Grotesk', sans-serif;
  height: 3000px;

  --book-size: 20rem;

  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 6rem;

  --text-xl: 1.25rem;

  --color-gray-1: rgb(229, 231, 235);
  --color-gray-2: rgb(100, 116, 139);

  --color-blue-1: rgb(239, 246, 255);
  --color-blue-2: rgb(96, 165, 250);
  --color-blue-3: rgb(37, 99, 235);

  --color-dark: rgb(15, 23, 42);
  --color-white: rgb(255, 255, 255);

  --star-size: 1.25rem;
}

.header {
}

.bgGrey {
  background-color: var(--color-gray-1);
  padding-bottom: 3rem;
}

// BOOK
.bookContainer {
  padding-top: var(--space-5);
  position: relative;
  margin-bottom: 5rem;
}

.bookBg {
  top: 0;
  bottom: -3rem;
  width: 50%;
  background-color: var(--color-blue-3);
  position: absolute;
}

.bookImg {
  height: var(--book-size);
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: relative;
}

.mainQuote {
  text-align: center;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

// STARS
.mainQuoteStars {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mainQuoteStar {
  // display: inline-block;
  width: var(--star-size);
  fill: var(--color-blue-3);
}

.mainQuoteText {
}

// AUTHOR
.mainQuoteAuthor {
}

.mainQuoteAuthorLeft {
}

.mainQuoteAuthorRight {
}

// INTRO

.intro {
}

.introHeading {
}

.introSubheading {
}

.introBtns {
}

.introMainBtn {
}

.introSecondaryBtn {
}

// NAVIGATION

.navigation {
  margin-top: 3rem;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.navigationItem {
  flex-grow: 1;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  height: 3rem;

  &:hover {
    background-color: var(--color-blue-3);
  }
}

.navigationLink {
}
