.flex-wrap {
  overflow: hidden;

  .my-grid {
    display: flex;
    gap: 10px;
    text-align: center;

    // flex-wrap: wrap;
  }

  .my-grid-item {
    background-color: burlywood;
    padding: 20px;
    min-width: 160px;
  }
}
