.align-items-play {
  overflow: hidden;

  .my-grid {
    display: flex;
    gap: 10px;
    text-align: center;
    height: 300px;
    background-color: #ddd;
    padding: 10px;

    // showcase
    // align-items: flex-start;
    // align-items: flex-end;
    // align-items: center;
    // align-items: stretch;
    // align-items: baseline;
  }

  .my-grid-item {
    background-color: burlywood;
    padding: 20px;
    flex-grow: 1;
  }
}
